<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Regras de transações</h1>
    <p class="mb-4"></p>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            Abaixo é possível consultar todas as regras de transações utilizadas por este sistema. As regras são baseadas na seguinte documentação: <%= link_to 'Documentação do desafio', 'https://github.com/Pagnet/desafio-back-end', target:"_blank" %>.
        </div>
    </div>

    <!-- Files list - datatable -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Lista de regras das transações</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="datatable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Tipo</th>
                            <th>Descrição</th>
                            <th>Natureza</th>
                            <th>Sinal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @transaction_rules.each do |rule| %>
                            <tr>
                                <th><%= rule.id %></th>
                                <th><%= rule.kind %></th>
                                <th><%= rule.description %></th>
                                <th><%= rule.source %></th>
                                <th><%= rule.operator %></th>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>