<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Usuários</h1>
    <p class="mb-4"></p>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <%= link_to new_panel_user_path, class: "btn btn-primary btn-icon-split", data: {'toggle': "tooltip", 'placement': "top", 'original-title': "Cadastrar novo usuário"} do  %>
                <span class="text">Cadastrar</span>
            <% end %>
        </div>
    </div>

    <!-- User list - datatable -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Lista de usuários</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="datatable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Email</th>
                            <th>Último Acesso</th>
                            <th>Status</th>
                            <th>Arquivos</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @users.each do |user| %>
                            <tr>
                                <th><%= user.id %></th>
                                <th><%= user.email %></th>
                                <th>
                                    <% if user.last_sign_in_at.present? %>
                                        <%= l(user.last_sign_in_at) %>
                                    <% else %>
                                        Nunca acessou
                                    <% end %>
                                </th>
                                <th><%= user.status %></th>
                                <th><%= user.drops.count %></th>
                                <th width="10%" style="text-align:center">
                                    <% if user.id != 1 %>
                                        <%= link_to edit_panel_user_path(user.id), class:"btn btn-primary btn-circle", data: {'toggle': "tooltip", 'placement': "top", 'original-title': "Editar"} do %>
                                            <i class="far fa-edit"></i>
                                        <% end %>
                                        <% if user.id != current_user.id %>
                                            <%= link_to panel_user_path(user.id), class:"btn btn-danger btn-circle", data: {confirm: "Você realmente deseja excluir o usuário [#{user.email}] e todos os seus respectivos arquivos?", 'toggle': "tooltip", 'placement': "top", 'original-title': "Excluir"}, method: :delete do  %>
                                                <i class="far fa-trash-alt"></i>
                                            <% end %>
                                        <% end %>
                                    <% else %>
                                        --
                                    <% end %>
                                </th>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>